<main>
  <h1>{{currentCube.name}}</h1>
  <img class="cube" src="{{currentCube.imageUrl}}">
  <div class="details">
    <p><span>Description:</span> {{currentCube.description}}</p>
    <p><span>Difficulty level:</span> {{currentCube.difficultyLevel}}</p>
    <a class="btn" href="/">Back</a>
    <a class="btn" href="/cube/accessory/attach/{{currentCube._id}}">Attach</a>
  </div>
  <h2>Accessories</h2>
  <div class="accessories">
    {{#each currentCube.accessories}}
      {{>accessory}}
    {{else}}
    <h3 class="italic">This cube has no accessories yet...</h3>
    {{/each}}
  </div>
</main>